h1{
    font-family: var(--title);
    text-align: center;
    font-size: 4em;
    letter-spacing: 3px;

    color: var(--orange);
    text-shadow: 3px 3px 0 var(--dark-orange);

    margin: 1em 0;
}

#modal-container .container, #card-container .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1800px;
  margin: 0 auto;
}
.modal-download a:first-child{
  color: var(--white);

  padding: 25px;
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-download{
    background-color: var(--green);
    color: var(--white);

    margin: 50px 25px;
    border-radius: 25px;

    position: relative;

    width: 100%;
    max-width: 340px;

    display: flex;
    flex-direction: column;

    transition: .3s ease-in-out;
    box-shadow: 0 0 0 var(--dark-green);
}
.modal-download h2{
  font-size: 3em;
  margin: 10px auto;
}
.modal-download p{
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 auto .7em;
}
.modal-download img{
  margin: 25px auto;
}
.modal-download .download-icon{
  position: absolute;
  bottom: 25px;
  right: 25px;
  margin: 0;
  z-index: 99;
}
.modal-download:hover{
  box-shadow: 0 12px 0 var(--dark-green);
  transform: scale(1.05);
}

.card a:first-child{
  padding: 0;
}
.card{
  overflow: hidden;
  max-width: 260px;
}
.card img:first-child{
  margin: 0;
}
#card-container{
  max-width: 1200px;
  margin: 0 auto;
}
.card::after{
  content: '';
  cursor: pointer;
  display: block;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.1) 30%);

  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease-in-out;
}
.card:hover::after{
  opacity: 1;
}

/* TODO */

/*
  - Imagens Downloads (cards tb)
  - Lightbox JS
  - SVG shadow
*/
