h1{
    font-family: var(--title);
    text-align: center;
    font-size: 4em;
    letter-spacing: 3px;

    color: var(--main-color);
    text-shadow: 4px 4px 0 var(--darker-color);

    margin: .75em 0;
}
p{
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;

  padding: 0 25px;
}
body{
  background: url('../img/bg_downloads/bg_downloads.svg');
  background-position: -10vw -50vh;
}
body > p > a{
  text-decoration: underline;
  color: var(--main-color);
}
body > p > a:visited{
  color: var(--darker-color);
}

#modal-container{
  margin: 5em auto;
  max-width: 1600px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
}
.modal-download{
  width: 365px;
  margin: 25px auto;
  max-width: calc(100% - 50px);

  background-color: var(--white);

  text-align: center;
  font-size: 1em;

  box-shadow: 0 0 15px rgba(0,0,0,.3);

  transition: .3s ease-out;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-download h2{
  font-size: 3.2em;
  margin: 0;
}
.modal-download a:visited{
  color: var(--white);
}
.modal-download > img{
  position: relative;
}
.superior{
  padding: 25px;
  color: var(--white);
  background-color: var(--main-color);
}
.superior p{
  margin-bottom: 0;
}
.middle{
  background: var(--main-color);
  background: linear-gradient(0deg, var(--white) 50%, var(--main-color) 50%);
}
.inferior{
  background-color: var(--white);
  display: flex;
  color: var(--main-color);

  display: flex;
  justify-content: space-between;

  padding: 25px 15px 15px;
}
.botao{
  display: inline-flex;
  padding: 15px 20px;
  
  transition: .5s ease-out;
  cursor: pointer;
}
.botao p{
  color: var(--main-color);
  margin: 0 10px 0 0;
  padding: 0;

  line-height: 25px;
}
.botao img{
  margin: auto;
}
.botao img{
  fill: var(--main-color);
}

@media screen and (min-width:990px){
  h1{
    margin-top: 1.2em;
    font-size: 5em;
  }
  body > p{
    max-width: 40%;
    margin: 0 auto;
  }

  .modal-download:hover{
    transform: scale(1.05);
  }
  .botao:hover{
    background-color: rgba(0,0,0,.15);
  }
}

audio{
  width: 100%;
  min-height: 50px;
}
.gslide-inline{
  height: auto!important;
}

iframe body, .iframe-container{
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex!important;
  flex-direction: column;
  justify-content: flex-end;
}