/* Hero */
#hero{
  padding-left: 0;
  padding-right: 0;
  background: url("../img/bg_01.svg") no-repeat bottom center;
  background-size: contain;
}
#hero div{
  margin: 0 auto 12em;

  max-width: 480px;
}
/* Imagem do sabiá */
#hero > img{
  width: 100vw;
  max-width: 480px;
  margin-top: 3em;
  right: clamp(-1000vw, calc(480px - 100vw), 0px);

  position: relative;
}
#hero div img{
  display: flex;
  width: 90%;

  margin: 3em auto;
  max-width: 360px;
}

/* Downloads */
#downloads{
  background: var(--yellow) url("../img/bg_02.svg") no-repeat bottom center;
  background-size: contain;
  padding-bottom: 10vh;
}
.downloads-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#downloads .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.download{
  box-shadow: 5px 5px 0 var(--dark-orange);

  background-color: var(--orange);
  border-radius: 15px;

  padding: 15px 0;
  margin: 50px 30px;

  max-width: 310px;
}
.download h3{
    text-shadow: 3px 3px 0 var(--dark-orange);
    margin: 15px auto;
}
.download img{
  margin: 30px 0;
}

/* Sobre */
#sobre{
  background: var(--green) url("../img/bg_03.svg") no-repeat bottom center;
  background-size: contain;;
  color: var(--white);
}
#sobre p{
  text-shadow: 0 0 3px rgba(0,0,0,.3);
}
#sobre .container{
  max-width: 480px;
  margin: 0 auto;
}
#sobre .ods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;

  max-width: 1140px;
}
#sobre .ods-item{
  max-width: 320px;
  margin: 50px;
  transition: .3s ease-in-out;
}
#sobre .ods-item:hover{
  transform: scale(1.02);
}

/* Contato */
#contato{
  background-color: var(--orange);
}
#contato form{
  display: flex;
  flex-direction: column;

  max-width: 680px;
  margin: 0 auto;
}
#contato label{
  font-family: var(--title);
  font-weight: bold;
  font-size: 1.7em;

  color: var(--white);
  text-shadow: 3px 3px 0 rgba(0,0,0,.3);

  margin: 20px;
}
#contato input, #contato textarea{
  border: none;
  box-shadow: 5px 5px 0 rgba(0,0,0,.3);
  border-radius: 10px;

  font-size: 20px;

  padding: 8px 20px;
  margin-bottom: 20px;
}
 #contato textarea{
   padding: 10px 15px;
   resize: none;
 }
#contato .container .container{
  display: flex;
  flex-direction: column;
}
#contato button{
  font-family: var(--title);
  font-weight: bold;
  font-size: 1.7em;

  text-shadow: 3px 3px 0 rgba(0,0,0,.3);
  box-shadow: 5px 5px 0 rgba(0,0,0,.3);

  background-color: var(--yellow);
  color: var(--white);

  border: none;
  border-radius: 100px;
  padding: 15px 30px;
  width: 100%;

  margin: 20px auto 50px;
}

/* Footer */
footer{
  background-color: var(--tre-blue);
  color: var(--white);
}

@media screen and (min-width: 768px){
  /* Hero */
  #hero div img{
    margin-left: 0;
  }

  /* Downloads */
  #downloads .downloads-container{
    margin: 10vh auto;
  }
  #downloads .download{
    transition: .5s ease-in-out;
  }
  #downloads .download:hover{
    box-shadow: 15px 15px 0 var(--dark-orange);
    transform: scale(1.05);
  }

  /* Sobre */
  #sobre{
    padding-bottom: 10vh;
  }

  /* Contato */
  #contato .container{
    display: flex;
    justify-content: space-between;
  }
  #contato .container .container{
    width: 45%;
  }
  #contato button{
    width: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 990px){
  /* Hero */
  #hero > img{
    position: static;
    max-width: clamp(0px, 50%, 850px);
    margin: 100px 0 auto auto;
  }
  #hero{
    display: flex;
    flex-direction: row-reverse;
  }
  #hero div{
    margin: 5vh auto 10vh;
  }
  #hero div p{
    max-width: 360px;
  }

  /* Sobre */
  #sobre{
    padding-bottom: 20vh;
  }
  #sobre .container p:first-child{
    margin-top: 0;
  }
  #sobre .container{
    max-width: 990px;
    margin: 75px auto;
    padding: 0 75px;

    columns: 2;
    column-gap: 75px;
  }
}

@media screen and (min-width: 1440px){
  #downloads .downloads-container{
    margin: 20vh auto;
  }
  .download{
    margin: 10px;
    max-width: 300px;
  }
  .download h3{
    font-size: 2.7em;
  }
  .download img{
    margin: 50px 0;
  }
}
