:root {
  --white: #FCFAF7;
  --green: #2BA58E;
  --dark-green: #00332B;
  --yellow : #FC9E19;
  --dark-yellow: #B06E11;
  --orange: #E74F1D;
  --dark-orange: #A13714;

  --tre-blue: #0A375C;

  --title: "SF Slapstick Comic", "Helvetica", "Arial", sans-serif;
  --body: "Segoe UI", "Helvetica", "Arial", sans-serif;
}

body{
  background-color: var(--white);
  font-family: var(--body);
  color: var(--dark-green);
}
section, #hero div{
  padding: 25px;
}
img{
  max-width: 100%;
}
nav{
    background-color: var(--green);
    color: var(--white);
}
section{
  min-height: 90vh;
}
p, ol li{
  font-size: 20px;
  line-height: 1.3;
}
ol, ul{
  padding: 0;
}
li{
  margin: 1em;
}
h2, h3{
  font-family: var(--title);
  color: var(--white);
  letter-spacing: 2px;

  text-align: center;
}
h2{
  font-size: 3em;
  text-shadow: 5px 5px 0 rgba(0,0,0,.3);
}
h3{
  font-size: 2.5em;
}
a{
  text-decoration: none;
}

/* Mobile menu sanduíche */
#mobile-nav{
  display: inline-flex;
  width: 100%;

  justify-content: center;
  position: relative;
}
#mobile-nav .logo{
  height: 75px;
  margin: auto;
}
#mobile-nav .icon{
  width: 25px;
  margin-left: 25px;
  left: 0;
  top: calc(50% - 8px);

  position: absolute;
}

/* Mobile menu open */
#navbar{
  position: fixed;
  width: 100%;
  height: 100vh;

  top: 0;
  left: -100vw;

  transition: ease-in-out .7s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-family: var(--title);
  font-size: clamp(24px, 5vh , 36px);

  z-index: 99;
}
#navbar ul{
  width: 100%;
  margin: auto;
  margin-bottom: 10vh;
  padding-top: 75px;
}
#navbar ul li{
  list-style: none;
  text-align: center;
  margin: 1em;
  color: var(--white);
}
#navbar img{
  width: 175px;
  margin: 0 auto 25px;
}
#navbar .close-icon{
  position: absolute;
  top: 15px;
  right: 25px;
}

/* Hero */
#hero{
  padding-left: 0;
  padding-right: 0;
  background: url("../img/bg_01.svg") no-repeat bottom center;
  background-size: contain;
}
#hero div{
  margin: 0 auto 12em;

  max-width: 480px;
}
/* Imagem do sabiá */
#hero > img{
  width: 100vw;
  max-width: 480px;
  margin-top: 3em;
  right: clamp(-1000vw, calc(480px - 100vw), 0px);

  position: relative;
}
#hero div img{
  display: flex;
  width: 90%;

  margin: 3em auto;
  max-width: 360px;
}

/* Downloads */
#downloads{
  background: var(--yellow) url("../img/bg_02.svg") no-repeat bottom center;
  background-size: contain;
  padding-bottom: 10vh;
}
#downloads h2{
}
.downloads-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#downloads .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.download{
  box-shadow: 5px 5px 0 var(--dark-orange);

  background-color: var(--orange);
  border-radius: 15px;

  padding: 15px;
  margin: 50px 30px;

  max-width: 280px;
}
.download h3{
    text-shadow: 3px 3px 0 var(--dark-orange);
    margin: 15px auto;
}
.download img{
  margin: 30px 0;
}

/* Sobre */
#sobre{
  background: var(--green) url("../img/bg_03.svg") no-repeat bottom center;
  background-size: contain;;
  color: var(--white);
}
#sobre p{
  text-shadow: 0 0 3px rgba(0,0,0,.3);
}
#sobre .container{
  max-width: 480px;
  margin: 0 auto;
}
#sobre .ods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;

  max-width: 1140px;
}
#sobre .ods-item{
  max-width: 320px;
  margin: 50px;
  transition: .3s ease-in-out;
}
#sobre .ods-item:hover{
  transform: scale(1.02);
}

/* Contato */
#contato{
  background-color: var(--orange);
}
#contato form{
  display: flex;
  flex-direction: column;

  max-width: 680px;
  margin: 0 auto;
}
#contato label{
  font-family: var(--title);
  font-weight: bold;
  font-size: 1.7em;

  color: var(--white);
  text-shadow: 3px 3px 0 rgba(0,0,0,.3);

  margin: 20px;
}
#contato input, #contato textarea{
  border: none;
  box-shadow: 5px 5px 0 rgba(0,0,0,.3);
  border-radius: 10px;

  font-size: 20px;

  padding: 8px 20px;
  margin-bottom: 20px;
}
 #contato textarea{
   padding: 10px 15px;
 }
#contato .container .container{
  display: flex;
  flex-direction: column;
}
#contato button{
  font-family: var(--title);
  font-weight: bold;
  font-size: 1.7em;

  text-shadow: 3px 3px 0 rgba(0,0,0,.3);
  box-shadow: 5px 5px 0 rgba(0,0,0,.3);

  background-color: var(--yellow);
  color: var(--white);

  border: none;
  border-radius: 100px;
  padding: 15px 30px;
  width: 100%;

  margin: 20px auto 50px;
}

/* Footer */
footer{
  background-color: var(--tre-blue);
  color: var(--white);
}

@media screen and (min-width: 768px){
  /* Hero */
  #hero div img{
    margin-left: 0;
  }

  /* Downloads */
  #downloads .downloads-container{
    margin: 10vh auto;
  }
  #downloads .download{
    transition: .3s ease-in-out;
  }
  #downloads .download:hover{
    box-shadow: 15px 15px 0 var(--dark-orange);
  }

  /* Sobre */
  #sobre{
    padding-bottom: 10vh;
  }

  /* Contato */
  #contato .container{
    display: flex;
    justify-content: space-between;
  }
  #contato .container .container{
    width: 45%;
  }
  #contato button{
    width: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 990px){
  /* Navs */
  #mobile-nav{
    display: none;
  }
  #navbar {
    position: static;
    height: auto;
    transition: 0s;
  }
  #navbar .container{
    display: flex;
    flex-direction: row-reverse;

    max-width: 80%;
    width: 100%;

    margin: 0 auto;
  }
  #navbar img{
    margin: 0;
    display: flex;
  }
  #navbar .container > *{
    margin: auto 1.5vw;
  }
  #navbar .close-icon{
    display: none;
  }
  #navbar ul{
    display: flex;
    padding: 0;
    justify-content: flex-end;
  }
  #navbar ul li{
    font-size: 24px;
    margin: 0 1em;
  }
  #navbar ul li::after{
    display:block;
    content: '';
    border-bottom: solid 2px var(--white);
    transform: scaleX(0);
    transition: transform .3s ease-out;
  }
  #navbar ul a:hover > li::after{
    transform: scaleX(1);
  }


  h2{
    font-size: 4em;
  }

  /* Hero */
  #hero > img{
    position: static;
    max-width: clamp(0px, 50%, 850px);
    margin: 100px 0 auto auto;
  }
  #hero{
    display: flex;
    flex-direction: row-reverse;
  }
  #hero div{
    margin: 5vh auto 10vh;
  }
  #hero div p{
    max-width: 360px;
  }

  /* Sobre */
  #sobre{
    padding-bottom: 20vh;
  }
  #sobre .container p:first-child{
    margin-top: 0;
  }
  #sobre .container{
    max-width: 990px;
    margin: 75px auto;
    padding: 0 75px;
    
    columns: 2;
    column-gap: 75px;
  }
}

@media screen and (min-width: 1440px){
  #downloads .downloads-container{
    margin: 20vh auto;
  }
  .download{
    margin: 10px;
    max-width: 300px;
  }
  .download h3{
    font-size: 2.7em;
  }
  .download img{
    margin: 50px 0;
  }
}
