@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --white: #FCFAF7;
    --green: #2BA58E;
    --dark-green: #00332B;
    --yellow: #FC9E19;
    --dark-yellow: #B06E11;
    --orange: #E74F1D;
    --dark-orange: #A13714;
    --blue: #4EADB7;
    --red: #C03544;

    --tre-blue: #0A375C;

    --title: "SF Slapstick Comic", "Helvetica", "Arial", sans-serif;
    --body: "Poppins", "Segoe UI", "Helvetica", "Arial", sans-serif;
}
body{
background-color: var(--white);
font-family: var(--body);
color: var(--dark-green);
}
section, #hero div{
padding: 25px;
}
img{
max-width: 100%;
}
nav{
    background-color: var(--green);
    color: var(--white);
}
section{
    min-height: 90vh;
}
p, ol li{
    font-size: 18px;
    line-height: 1.4;
}
ol, ul{
    padding: 0;
}
li{
    margin: 1em;
}
h2, h3{
    font-family: var(--title);
    color: var(--white);
    letter-spacing: 2px;

    text-align: center;
}
h2{
    font-size: 3em;
    text-shadow: 5px 5px 0 rgba(0,0,0,.3);
}
h3{
    font-size: 2.5em;
}
a{
    text-decoration: none;
}

/* Mobile menu sanduíche */
#mobile-nav{
    display: inline-flex;
    width: 100%;

    justify-content: center;
    position: relative;
}
#mobile-nav .logo{
    height: 75px;
    margin: auto;
}
#mobile-nav .icon{
    width: 25px;
    margin-left: 25px;
    left: 0;
    top: calc(50% - 8px);

    position: absolute;
}

/* Mobile menu open */
#navbar{
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;

    position: fixed;
    top: 0;
    z-index: 99;
    left: -100vw;

    transition: ease-in-out .7s;

    font-family: var(--title);
    font-size: clamp(24px, 5vh , 36px);
}
#navbar ul{
    /* width: 100%;
    margin: auto;
    margin-bottom: 10vh;
    padding-top: 75px; */
}
#navbar li{
    list-style: none;
    text-align: center;
    margin: 1em;
    color: var(--white);
}
#navbar img{
    width: 175px;
    margin: 0 auto 25px;

    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
#navbar .close-icon{
    position: absolute;
    top: 15px;
    right: 25px;
}
/* Footer */
footer{
  background-color: var(--tre-blue);
  color: var(--white);
  font-family: var(--body);
  text-align: center;
  line-height: 1.5;

  padding: 25px;
  max-width: calc(100vw - 50px);
}
footer p{
  font-size: 1.1em;
  font-weight: 400;
}
footer a{
  text-decoration: underline;
  color: var(--white);
}
footer a:visited{
  color: var(--orange);
}
.credito-container{
  text-align: center;
  margin: 3em;
  width: 100%;
}
.credito-container h3{
  font-family: var(--body);
  letter-spacing: 0;
  font-size: 1.5em;
}
.credito{
  margin: 2em 0;
}
.credito p:not(:last-child){
  font-weight: 600;
  font-size: 18px;
}
.credito p:last-child{
  font-style: italic;
  font-size: 1em;
  font-size: 14px;
}
.credito p{
  margin: .5em 0;
}
footer .container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .logos{
  margin: 3em auto 0;

  display: flex;
  justify-content: center;
}

footer .logos img{
  margin: 0 1em;
}
.cc{
  max-width: 768px;
  margin: 5em auto;
}

@media screen and (min-width: 480px){
  .credito-container{
    max-width: 300px;
    text-align: left;
  }
}

@media screen and (min-width: 768px){
  /* Navs */
  #mobile-nav{
    display: none;
  }
  #navbar{
    position: static;
    transition: 0s;
  }
  #navbar .close-icon{
    display: none;
  }
  #navbar .container{
    width: 100%;
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #navbar .container a{
    display: contents;
  }
  #navbar img{
    position: static;
    margin: 0;
  }
  #navbar ul{
    font-size: 24px;
    margin: auto 0;
    display: flex;
    justify-content:flex-end;
  }
  #navbar ul li::after{
    display:block;
    content: '';
    border-bottom: solid 2px var(--white);
    transform: scaleX(0);
    transition: transform .3s ease-out;
  }
  #navbar ul a:hover > li::after{
    transform: scaleX(1);
  }
}

@media screen and (min-width: 990px){
    #navbar .container{
      width: 80%;
      max-width: initial;
    }
    h2{
      font-size: 4em;
    }
}
